@model IEnumerable<WorkFlowWeb.ViewModels.SubCategoryViewModel>

<div class="card shadow mb-5 border-0">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="text-center col-12">
                <h2 class="text-white fs-2 fw-bold">
                    SubCategory List
                </h2>
            </div>
            <div class="w-100 btn-group" role="group">
                <a asp-controller="SubCategory" asp-action="ExportToExcel" class="btn btn-primary mx-2">
                    <i class="bi bi-cloud-arrow-down"></i>  Download
                </a>
                <a asp-controller="SubCategory" asp-action="" class="btn btn-danger mx-2">
                    <i class="bi bi-cloud-arrow-up"></i>  Upload
                </a>
            </div>
        </div>
    </div>
    <div class="card-body p-2 px-4">
        <div class="row mb-4">
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" id="searchInput" class="form-control" placeholder="Search..." />
                </div>
            </div>
            <div class="col-md-6 text-end">
                <a asp-controller="SubCategory" asp-action="Create" class="btn btn-primary"><i class="bi bi-patch-plus"></i> Create SubCategory</a>
            </div>
        </div>

        <table class="table table-bordered table-striped" id="userTable">
            <thead>
                <tr>
                    <th>Category Code</th>
                    <th>Sub Category Code</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var subCategory in Model.OrderBy(sc => sc.Code))
                {
                    <tr class="@(subCategory.IsActive ? "" : "table-warning")">
                        <td>@subCategory.CategoryCode</td>
                        <td>@subCategory.Code</td>
                        <td class="description-cell">@subCategory.Description</td>
                        <td>@(subCategory.IsActive ? "Active" : "Blocked")</td>
                        <td>
                            <div class="w-100 btn-group" role="group">
                                <a asp-controller="SubCategory" asp-action="Edit" asp-route-id="@subCategory.SubCategoryId" class="btn btn-primary mx-2">
                                    <i class="bi bi-pen"></i> Edit
                                </a>
                                <a asp-controller="SubCategory" asp-action="Delete" asp-route-id="@subCategory.SubCategoryId" class="btn btn-danger mx-2">
                                    <i class="bi bi-trash"></i> Delete
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#searchInput').on('keyup', function () {
                var searchValue = $(this).val().toLowerCase();
                $('#userTable tbody tr').filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(searchValue) > -1);
                });
            });
        });
    </script>
}
